.header{
  background-color: #F6C700;
  display: flex;
}
.footer{
background-color: #333;
color: white;
padding: 20px;
text-align: center;
width: 100%;
position: static;
bottom: 0;
display: none;


}

.note_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 16px;
  width: 300px;
  margin: 20px auto; 
}
.notes_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 6px;
  width: 200px;
  margin:15px; 
}

.note_title,
.note_content {
  border: none;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.notes_title,
.notes_content {
  border: none;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.note_title {
  font-weight: bold;
  margin-bottom: 8px;
}

.notes_title {
  font-weight: bold;
  margin-bottom: 8px;
}
.note_content {
  height: 80px; 
}

.notes_content {
  height: 80px; 
}


.note_title::placeholder,
.note_content::placeholder {
  color: #888;
}


.notes_title::placeholder,
.notes_content::placeholder {
  color: #888;
}
.note_title:focus,
.note_content:focus {
  outline: none;
}


.notes_title:focus,
.notes_content:focus {
  outline: none;
}
